.navbar {
  background: linear-gradient(
    270deg,
    rgba(248, 248, 248, 0.25) -3.21%,
    rgba(167, 167, 167, 0.1275) 51.19%,
    rgba(248, 248, 248, 0.25) 95.57%
  );
  box-shadow: 0px 0px 8px 0px #00000014;
  border-radius: 20px;
}
