
.security_card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 32px;
    border-radius: 8px;
    background: linear-gradient(278.09deg, rgba(67, 67, 67, 0.24) 5.2%, rgba(73, 73, 73, 0.24) 98.27%);
    transition: all 0.3s ease;
    color: #2C2C2C !important;
    padding-block: 20px;
  }

  .security_card:hover {
    background: #2C2C2C;
    color: #fff !important;
  }
