.bg {
    background-image: url('../../../assets/rebranding/lastsection-bg.png') !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    height: 100vh;
  }
  