.mask {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.109375),
    #eaeaed 28%,
    #ffffff,
    rgba(255, 255, 255, 0) 110%
  );
  -o-mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.109375),
    #eaeaed 28%,
    #ffffff,
    rgba(255, 255, 255, 0) 110%
  );
  -moz-mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.109375),
    #eaeaed 28%,
    #ffffff,
    rgba(255, 255, 255, 0) 110%
  );
  mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.109375),
    #eaeaed 28%,
    #ffffff,
    rgba(255, 255, 255, 0) 110%
  );
}
