
.bg{
  background-image: url('../../../assets/rebranding/how-it-works-bg.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.stepCard {
    display: flex;
    padding: 20px 15px;
    margin-inline: 10vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    border-radius: 8px;
    background: #696969;
    backdrop-filter: blur(19.03371238708496px);
    cursor: pointer;

  }

  .stepCard:hover {
    background: #2C2C2C;
  }
  
  @media screen and (min-width: 1024px) {
    .stepCard {
      height: 251px;
      padding: 10px 10px;
      width: 40%;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .stepCard {
      height: 251px;
      padding: 50px 70px;
      width: 45%;
    }
  }