.bg {
  background-image: url('../../../assets/rebranding/joseph-ai-bg.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 0dvw -5dvw !important;
}

.btn0 {
  background: radial-gradient(
      56.77% 51.5% at 43.23% 51.52%,
      rgba(0, 71, 255, 0.7) 17.16%,
      rgba(0, 59, 212, 0.7) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.floatingBtn0 {
  bottom: 36vh;
  left: 23vw;
}

.btnGradient0 {
  background: linear-gradient(
    85.99deg,
    rgba(9, 75, 246, 0.038) 14.19%,
    rgba(28, 119, 249, 0.0368502) 38.91%,
    rgba(71, 218, 255, 0.0342) 95.88%
  );
}

.floatingBtn1 {
  left: 50%;
}

.btn2 {
  background: radial-gradient(
      56.77% 51.5% at 43.23% 51.52%,
      rgba(210, 128, 34, 0.7) 17.16%,
      rgba(246, 135, 9, 0.7) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.btnGradient2 {
  background: linear-gradient(
    85.99deg,
    rgba(246, 151, 9, 0.098) 14.19%,
    rgba(249, 146, 28, 0.0950346) 38.91%,
    rgba(255, 172, 71, 0.0882) 95.88%
  );
}

.floatingBtn2 {
  top: 15vh;
  right: 14vw;
}

@media (max-width: 1440px) {
  .bg {
    background-size: 1440px !important;
    background-position: 0dvw -10dvw !important;
  }
  .floatingBtn0 {
    bottom: 38vh;
    left: 23vw;
  }
}

@media (max-width: 1024px) {
  .bg {
    background-size: 1024px !important;
    background-position: 0dvw -10dvw !important;
  }
  .floatingBtn0 {
    bottom: 37vh;
    left: 23vw;
  }
}

@media (max-width: 768px) {
  .bg {
    background-size: 768px !important;
    background-position: 0dvw -10dvw !important;
  }
  .floatingBtn0 {
    bottom: 40vh;
    left: 23vw;
  }
  .floatingBtn1 {
    left: 54%;
    top: -22vh;
  }

  .floatingBtn2 {
    top: -10vh;
    right: 14vw;
  }
}