/* WebKit Browsers (Chrome, Edge, Safari) */
.promo::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.promo::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Firefox */
.promo {
  /* scrollbar-width: ; */
  scrollbar-width: none; /* Thin scrollbar */
  scrollbar-color: gray transparent; /* Thumb and track colors */
}
