/* ---chat-input-height: 1.2lh; this is the default height */

.chat_textarea {
  @apply text-base resize-none outline-none;
  flex: 1;
  height: var(--chat-input-height);
  max-height: 5.2lh;
  min-height: 1.2lh;
}

@media (max-width: 1000px) {
  .chat_textarea {
    height: var(--chat-input-height);
    max-height: 3.2lh;
    min-height: 1.2lh;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.fancy {
  --angle: 0deg;
  --border-width: 2px;
  --gradient: conic-gradient(from var(--angle), rgba(41, 87, 255, 1), yellow);
  background-image: var(--gradient);
  border-radius: 12px;
  padding: var(--border-width);
  position: relative;
  isolation: isolate;
  transition: background-image 0.3s ease;
}

.fancy::after {
  content: '';
  position: absolute;
  inset: var(--border-width);
  background: white; /* Or your desired background color */
  border-radius: calc(12px - var(--border-width));
  z-index: -1;
}

.fancy:not(:focus-within) {
  animation: 4s rotate infinite;
}

.fancy:focus-within {
  background-image: none;
  background-color: rgba(41, 87, 255, 1);
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
