.card {
  padding: 20px;
  background-color: #ffffff;
  width: min(400px, 100%);
  border: 3px solid transparent;
  border-radius: 20px;
  transform: translateY(0);
  transition: all 0.3s ease-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card:hover {
  border: 3px solid #094bf6;
  border-radius: 20px;
  background: #f9fafc;
  font-size: 24px;
  transform: translateY(-3px);
}
