.caseStudyCard{
  width: 100%;
cursor: pointer;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
  border-radius: 8px;
  gap: 10px;
  background: linear-gradient(278.09deg, rgba(67, 67, 67, 0.24) 5.2%, rgba(73, 73, 73, 0.24) 98.27%);
  transition: all 0.3s ease;
  color: #2C2C2C !important;
  padding-block: 10px;
  padding-inline: 16px;
}

.caseStudyCard:hover {
  background: #2C2C2C;
  color: #fff !important;
}