.bg {
  background-image: url('../../../assets/rebranding/plugnhire-bg.png') !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin-block: 5vh;
  padding-bottom: 7vh;
  padding-top: 12vh;
}

@media screen and (max-width: 900px) {
  .bg {
    background-size: 768px !important;
  }
}
